.left-hand {
    width: 25%;
    height: 650px;
    /*background: #a53b3f;*/
    float: left;
}

.middle-hand{
    width: 50%;
    height: 650px;
    float: left;
}

.right-hand {
    width: 25%;
    height: 650px;
    float: left;
}



